<ng-container [formGroup]="formDetails">
  <mat-card class="form-container">
    <mat-card-title>Dettagli Utente</mat-card-title>

    <!-- Date Birth -->
    <mat-form-field >
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        #pickerInput
        formControlName="dateBirth"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <div *ngIf="formDetails.get('dateBirth')?.invalid && formDetails.get('dateBirth')?.touched">
      <p *ngIf="formDetails.get('dateBirth')?.errors?.['required']">Inserisci la data</p>
      <p *ngIf="formDetails.get('dateBirth')?.errors?.['invalid']">Devi essere maggiorenne</p>
    </div>
    <!-- / Date  Birth -->

    <!-- Select gender -->
    <mat-form-field appearance="fill">
      <mat-label>Genere</mat-label>
      <mat-select formControlName="genre">
        <mat-option *ngFor="let gen of genre" [value]="gen">
          {{gen}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div *ngIf="formDetails.get('genre')?.invalid && formDetails.get('genre')?.touched" >
      <p *ngIf="formDetails.get('genre')?.errors?.['required']">Inserisci il sesso</p>
    </div>
    <!-- /Select gender -->


    <!-- City  ​​of residence  -->
    <mat-form-field>
      <mat-label>Comune di residenza</mat-label>
      <input matInput placeholder="Ex. Bologna,Torino" formControlName="city"/>
    </mat-form-field>
    <!-- /City  ​​of residence -->

    <!-- District -->
    <mat-form-field appearance="fill">
      <mat-label>Provincia</mat-label>
      <mat-select formControlName="district">
        <mat-option *ngFor="let provincie of ProvincieItaliane" [value]="provincie">
          {{provincie}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- /District -->


    <!-- Address -->
    <mat-form-field>
      <mat-label>Indirizzo</mat-label>
      <input matInput placeholder="Ex. Via Panni"  formControlName="address" />
    </mat-form-field>
    <!-- /Address -->

    <!-- languages -->
    <div formArrayName="languages">

      <div class="button_space"><button mat-raised-button
        type="button"
        (click)="addItem()">Aggiungi Lingua</button></div>

      <div *ngFor="let item of getControls(); let i = index">
        <div [formGroupName]="i" class="form_language">
          <mat-form-field>
            <mat-label>lingua</mat-label>
            <input matInput formControlName="name" placeholder="name" value=""/>
          </mat-form-field>
          <mat-form-field>
            <mat-label>livello</mat-label>
            <input matInput formControlName="level" placeholder="level" value=""/>
          </mat-form-field>

          <div class="button_delete"><button mat-raised-button color="warn"
            type="button"
            (click)="onDelete(i)">Elimina</button></div>

        </div>
      </div>
    </div>

    <!-- /languages -->
  </mat-card>
</ng-container>
