<ng-container [formGroup]="formPassword">
  <mat-card class="form-container">
    <mat-card-title>Password</mat-card-title>

    <!-- Password -->
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Inserisci la Password" formControlName="password" />
    </mat-form-field>
    <div *ngIf="formPassword.get('password')?.invalid && formPassword.get('password')?.touched" >
      <p *ngIf="formPassword.get('password')?.errors?.['required']">Inserisci la password</p>
    </div>
    <!-- /Password -->

     <!-- Confirm Password -->
     <mat-form-field>
      <mat-label>Conferma Password</mat-label>
      <input matInput placeholder="Conferma la Password"  formControlName="confirmPassword" />
    </mat-form-field>
    <div *ngIf="formPassword.get('confirmPassword')?.invalid && formPassword.get('confirmPassword')?.touched" >
      <p *ngIf="formPassword.get('confirmPassword')?.errors?.['required']">Inserisci la password</p>
      <p *ngIf="formPassword.get('confirmPassword')?.errors?.['Mustmatch']">Le password devono essere uguali</p>
    </div>
    <!-- /Confirm Password -->
  </mat-card>
</ng-container>
