<ng-container [formGroup]="formPassword">
  <mat-card class="form-container">
    <mat-card-title>Password</mat-card-title>

    <!-- Password -->
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Inserisci la Password" formControlName="password" />
    </mat-form-field>
    <!-- /Password -->

     <!-- Confirm Password -->
     <mat-form-field>
      <mat-label>Conferma Password</mat-label>
      <input matInput placeholder="Conferma la Password"  formControlName="confirmPassword" />
    </mat-form-field>
    <!-- /Confirm Password -->
  </mat-card>
</ng-container>
