<div class="form-wrapper">
  <ng-container  [formGroup]="userForm">
    <!-- nome, cognome, email  -->
    <app-user-basic-info formGroupName="basicInfo" (Validazione)="RiceviValidazione($event)"></app-user-basic-info>
    <!--   -->

    <!-- data, genere, comune, provincia, indirizzo -->
      <app-user-detail-info formGroupName="detailsInfo" (validationDetails)="RiceviValidazioneDetails($event)"  ></app-user-detail-info>
    <!--  -->


    <!-- password -->
    <app-user-password-info formGroupName="passwordRequest" (validationPassword)="RiceviValidazionePassword($event)"></app-user-password-info>
    <!--  -->
    <button mat-raised-button color="primary" type="submit" (click)="onUpdate()">Invia</button>
  </ng-container>


  <pre style="margin-top:50px; border: 1px solid red; width: fit-content">
    {{userForm.value | json}}
    {{validationBasicInfo.value | json}}
    {{validationDetails.value | json}}
  </pre>


</div>
